{% extends 'templ2.html' %}

{% block title %}Blog{% endblock %}


{% block content %}
  <h1>Blog, DJHTML!</h1>
  <p>You are in the blog html page</p>
  <hr/>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {% for post in all_posts %}
        <div class="card glass w-96">
            
            <figure>
            <img
                src="{% if not post.image %}https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg
                {% else %}
                    https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721260800&semt=ais_user                
                {% endif %}
                "
                alt="car!" />
            </figure>
            <div class="card-body">
            <h2 class="card-title"> {{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Learn now!</button>
            </div>
            </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}